<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
   <!-- 使用注解时需要的配置-->
    <context:component-scan base-package="Demo1_service"></context:component-scan>
    <context:component-scan base-package="Demo1_annotationaop"></context:component-scan>
    <!-- 准备工作：导入aop（约束命名空间）-->
    <!--1.配置目标对象-->
    <!-- 用注解@Comonent(userService)
    <bean name="userService" class="Demo1_service.UserSerivaeImpl"></bean>-->
    <!-- 2.配置通知对象-->
    <!--
    <bean name="myAdvice" class="Demo1_annotationaop.MyAdvice"></bean>-->
    <!-- 3.开启使用注解完成织入-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>