<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contest="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <contest:component-scan base-package="Demo1"></contest:component-scan>
    <bean name="car2" class="Demo1.Car">
            <property name="name" value="布加迪威龙"></property>
            <property name="color" value="black"></property>
        </bean>
</beans>